# Force Tailwind Oxide compiler to use WASI to bypass Windows Application Control blocking native .node binary
NAPI_RS_FORCE_WASI=1

# WordPress settings
WORDPRESS_API_URL=
WORDPRESS_AUTH_TOKEN=
WORDPRESS_USER=
WORDPRESS_URL=
WORDPRESS_SITE_URL=
GRAVITY_FORMS_BOOK_A_CALL_ID=
GRAVITY_FORMS_CONTACT_ID=

# reCAPTCHA keys
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
NEXT_PUBLIC_BOOK_A_CALL_SKIP_RECAPTCHA=false
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
